@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Black.woff2") format("woff2"),
    url("./tipografias/Estricta-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-BoldItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-BoldItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-LightItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-BlackItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Bold.woff2") format("woff2"),
    url("./tipografias/Estricta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Light.woff2") format("woff2"),
    url("./tipografias/Estricta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-BlackItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Black.woff2") format("woff2"),
    url("./tipografias/Estricta-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-MediumItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Medium.woff2") format("woff2"),
    url("./tipografias/Estricta-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Light.woff2") format("woff2"),
    url("./tipografias/Estricta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Regular.woff2") format("woff2"),
    url("./tipografias/Estricta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-LightItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-MediumItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Medium.woff2") format("woff2"),
    url("./tipografias/Estricta-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Thin.woff2") format("woff2"),
    url("./tipografias/Estricta-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta Regular";
  src: url("./tipografias/Estricta-RegularItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Regular.woff2") format("woff2"),
    url("./tipografias/Estricta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Thin.woff2") format("woff2"),
    url("./tipografias/Estricta-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-RegularItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-ThinItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-Bold.woff2") format("woff2"),
    url("./tipografias/Estricta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/EstrictaThinItalic.woff2") format("woff2"),
    url("./tipografias/EstrictaThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/EstrictaThin.woff2") format("woff2"),
    url("./tipografias/EstrictaThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/EstrictaBoldItalic.woff2") format("woff2"),
    url("./tipografias/EstrictaBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/EstrictaLightItalic.woff2") format("woff2"),
    url("./tipografias/EstrictaLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/EstrictaBlackItalic.woff2") format("woff2"),
    url("./tipografias/EstrictaBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/EstrictaMediumItalic.woff2") format("woff2"),
    url("./tipografias/EstrictaMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Estricta";
  src: url("./tipografias/Estricta-ThinItalic.woff2") format("woff2"),
    url("./tipografias/Estricta-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
