@import "./fonts/vars.scss";

.MotoMenu {
  font-family: $estricta;
  background-color: rgb(245, 245, 245);
  & nav ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    & li button {
      text-transform: uppercase;
      font-weight: 700;
      background-color: transparent;
      border: none;
      font-family: inherit;
      padding: 0.5rem 2rem;
      font-size: 1.1rem;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }

  &ButtonActive {
    color: $blue;
  }

  &Pictures {
    display: flex;
    width: 100%;
    min-height: 27rem;
  }

  &MainPicture {
    position: relative;
    width: 80%;
    aspect-ratio: 16 / 9;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;

    &Container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
    }
  }

  &ModelPicture {
    position: relative;
    width: 8rem;
    aspect-ratio: 1 / 1;
    mix-blend-mode: multiply;
    & img {
      object-fit: cover;
    }
  }

  &Models {
    width: 50%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 4rem;
    height: 100%;
    max-height: 22rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &Model {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    text-decoration: none;
    color: initial;

    &:hover &Caption {
      color: $gray;
    }
  }

  &ModelCaption {
    font-weight: 700;
    font-size: 0.9rem;
    color: initial;
    text-decoration: none;
    text-transform: uppercase;
  }
}
