@import "./fonts/vars.scss";

.StyleTitle {
  font-family: $estricta;
  width: 100%;
  margin: 1rem auto;
  display: flex;
  & h2 {
    display: flex;
    flex-direction: column;
    color: $blue;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    min-width: fit-content;
    max-height: fit-content;
    margin: 0 1rem;
    & span {
      font-weight: 800;
      font-size: 2rem;
    }
  }
  &Line {
    width: 100%;
    border-bottom: solid 2px $blue;
  }
}
